{
    "token": "",
    "botAdmin": [""],
    "dbHost": "",
    "dbUsername": "",
    "dbPassword": "",
    "database": "",
    "prefix": "!",
    "serverId":"",
    "defaultChannelId": "",
    "ignoreChannels": [],
    "defaultRole": ""
}