{
    "token": "",
    "botAdmin": [""],
    "dbHost": "",
    "dbUsername": "",
    "dbPassword": "",
    "database": "",
    "prefix": "!",
    "serverId":"",
    "defaultChannelId": "",
    "ignoreChannels": [],
    "defaultRole": "",
    "goldenRate": 4,
    "plateRate": 4,
    "goldenImages": ["http://i.imgur.com/Qvpx2KK.png"]
}